header {
    background-color: royalblue;
    color: orangered;
}

body {
    background-color: lightgoldenrodyellow;
    font-family: 'Oswald', sans-serif;
}

main {
    background-color: whitesmoke;
    padding: 16px
}

.finstagram-post {
    margin-bottom: 48px;
}

.finstagram-post .user-info img {
    border-radius: 30%;
}

a.photo {
    transition: padding 0.5s;
}
  
a.photo:hover {
    padding: 10px;
}
b.gif {
    transition: padding 0.5s;
}
  
b.gif:hover {
    padding: 10px;
}