<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../../../stylesheets/normalize.css">
        <link rel="stylesheet" type="text/css" href="../../../stylesheets/lib.css">
        <link rel="stylesheet" type="text/css" href="../../../stylesheets/app.css">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap" rel="stylesheet">
        <title>Volstagram</title>
    </head>
    <body>
        <header>
            <h1>Volstagram</h1>
            <img src="/images/instagram_picture.png" width="2%" height="2%" alt="Instagram_picture">
        </header>
        <main role="main">
            <article class="finstagram-post">
                <div class="user-info">
                    <img src="/images/user_profile_mikasa.jfif" alt="mikasa_fan">
                    <h2>mikasa_fan</h2>
                    <h3>15 minutes ago</h3>
                </div>
                <a class="photo" href="#">
                    <img src="/images/volleyball_stretch.jfif" alt="post from mikasa_fan">
                </a>
                <div class="actions">
                    1 like
                    <span class="comment-count">0 comments</span>
                </div>
                <ul class="comments">
                    <li>
                        <p>
                            mikasa_fan: Gotta make sure to always stretch...don't want to pull a muscle!
                        </p>
                    </li>
                </ul>
            </article>
            <article class="finstagram-post">
                <div class="user-info">
                    <img src="/images/user_profile_net.jfif" alt="spike_nation">
                    <h2>spike_nation</h2>
                    <h3>3 hours ago</h3>
                </div>
                <a class="photo" href="#">
                    <img src="/images/volleyball_spike.jfif" alt="post from spike_nation">
                </a>
                <div class="actions">
                    2 likes
                    <span class="comment-count">0 comments</span>
                </div>
                <ul class="comments">
                    <li>
                        <p>
                            spike_nation: That form...that height...no one is blocking that!
                        </p>
                    </li>
                </ul>
            </article>
            <article class="finstagram-post">
                <div class="user-info">
                    <img src="/images/user_profile_shadow.png" alt="vball_gif_master">
                    <h2>vball_gif_master</h2>
                    <h3>7 hours ago</h3>
                </div>
                <b class="gif" href="#">
                    <iframe src="https://giphy.com/embed/eJ9igIFoZcPejuVcLY" width="100%" height="270" frameBorder="0" class="giphy-embed" allowFullScreen>
                    </iframe>
                </b>
                <div class="actions">
                    3 likes
                    <span class="comment-count">1 comment</span>
                </div>
                <ul class="comments">
                    <li>
                        <p>
                            vball_gif_master: What a dig!
                        </p>
                    </li>
                    <ul>
                        <div class="user-info">
                            <img src="/images/user_profile_dig.jfif" alt="dig_master">
                            <p>
                                dig_master: Wow, impressive!
                            </p>
                        </div>
                    </ul>
                </ul>
            </article>
        </main>
    </body>
</html>