<form>

    <label>Email</label>
    <input type="email">

    <label>Avatar URL</label>
    <input type="text">

    <label>Username</label>
    <input type="text">

    <label>Password</label>
    <input type="password">

    <button type="submit">Signup</button>

</form>
